body{
    width: 1280px;
    font-family: sans-serif;
    margin: auto;
    background-image: linear-gradient(to right, grey, lightgrey);
}

.navigation{
    width: 800px;
    margin: auto;
    padding-bottom: 3em;
    z-index: 10;
}

header{
    clear: both;
    text-align: center;
}

div#intro{
    width: 800px;
    margin: auto;
}

div#charts{
    width: 600px;
    margin: auto;
}

div#player{
    position: relative;
    clear: both;
    width: 600px;
    margin: auto;
    z-index: 1;
}

div#copyright{
    font-size: 14px;
    text-align: center;
    padding-top: 1em;
    margin: 1em 0em 1em;
    /*border: 3px solid black;*/
}

canvas{
    width: 400px;
    border: 1px solid black;
    margin: .25em;
    background-color: white;
}