body{
    width: 1280px;
    font-family: sans-serif;
    margin: auto;
    background-image: linear-gradient(to right, grey, lightgrey);
}


header{
    text-align: center;
    margin: auto;
}


div#intro{
    width: 800px;
    margin: auto;
}


div#charts{
    width: 600px;
    margin: auto;
}


div#copyright{
    font-size: 14px;
    text-align: center;
    padding-top: 1em;
    margin: 1em 0em 1em;
    /*border: 3px solid black;*/
}


canvas{
    width: 400px;
    border: 1px solid black;
    margin: .25em;
    background-color: white;
}